body {
  background-color: #0a0a23;
  background-image: url('img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#text {
  background-color: rgba(10, 10, 35, 0.8);
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: rgba(255, 255, 255, 0.9);
  color: #000;
  margin: 30px auto 0px;
  padding: 10px;
  border-radius: 5px;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
  border-radius: 5px;
}
